/* 
 * Author: Mary Lucey 
 * Date: 7-24-25
 * Assignment 5: Client Side Validation
 */
 
  /* Mobile first styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 24px;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  color: white;
}
section.home {
  padding: 120px 1rem 1rem 1rem; /* top padding adjusted for fixed nav */
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
}

section.home h1 {
  color: red;
  margin-bottom: 1rem;
}


